extends layouts/main

block content
    .form-container
        form(action=routes.join, method='post')
            input(type='text', name='name', placeholder='Full name', required=true)
            input(type='email', name='email', placeholder='email', required=true)
            input(type='password', name='password', placeholder='password', required=true)
            input(type='password', name='password2', placeholder='Verify password', required=true)
            input(type='submit', value='Join now')
        include partials/socialLogin